<?xml version="1.0" encoding="utf-8" ?>
<config>
  <services>
    <service name="HL7MessageForwarder">
      <server name="Local" machineName="localhost"/>
      <server name="Teal" machineName="teal"/>
      <server name="Sulphur" machineName="sulphur"/>
    </service>
    <service name="Pharmacy Tracker" exepath="C:\pharmatrack.exe">
      <server name="Local" machineName="localhost"/>
      <server name="Teal" machineName="teal"/>
      <server name="Stone" machineName="stone"/>
    </service>
  </services>
</config>