<?xml version="1.0" encoding="utf-8" ?>
<config>
  <services>
    <service name="Great Service 1">
      <server name="Local" machineName="localhost"/>
      <server name="Server1" machineName="Server1"/>
      <server name="Server2" machineName="The Other Server"/>
    </service>
    <service name="Service The Second" exepath="C:\pharmatrack.exe">
      <server name="Local" machineName="localhost"/>
      <server name="Server1" machineName="Server1"/>
      <server name="Server2" machineName="The Other Server"/>
    </service>
  </services>
</config>